<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}
            Symfony Live - Noviembre 24
        {% endblock %}</title>
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div>
            <h1 class="display-2 py-3 mb-4 border-bottom text-center">
                Symfony Live - Noviembre 24
            </h1>
        </div>

        {% block body %}{% endblock %}
    </body>
</html>
